if SHIELD_ERGOS1_RIGHT
    config ZMK_KEYBOARD_NAME
        default "ErgoS1"

    config ZMK_SPLIT_BLE_ROLE_CENTRAL
        default y

endif



if SHIELD_ERGOS1_LEFT || SHIELD_ERGOS1_RIGHT

    config ZMK_SPLIT
        default y
endif